* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  background-color: rgb(70, 175, 201);
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 20rem;
  height: 38rem;
  margin: 2rem;
  border-radius: 1rem;
}

#imageProfile {
  height: 10rem;
  border: 2px solid rgb(132, 210, 229);
  border-radius: 50%;
  margin-top: 2rem;
  transition: 2s;
  cursor: pointer;
}

#imageProfile:hover {
  transform: scale(1.1);
}

.category {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgb(132, 210, 229);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.infos {
  background-color: white;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(132, 210, 229);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.buttonsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
}

.btn {
  background: linear-gradient(45deg, #8cb2d8, #70c2c7);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 8rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(45deg, #70c2c7, #8cb2d8);
  transform: scale(1.2);
}
